<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your Trial is Ending Soon</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333333;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #666666;
      }
      .button {
        display: inline-block;
        background-color: #28a745;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
      .footer {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #888888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Your Trial is Ending Soon</h1>
      <p>Hi,</p>
      <p>
        We wanted to let you know that your free trial is ending soon. You can
        continue enjoying our services by subscribing to one of our paid plans.
      </p>
      <p>
        Click the button below to choose a plan and keep accessing our API:
      </p>
      <p>
        <a href="www.histori.xyz/pricing" class="button">Choose a Plan</a>
      </p>
      <p>Thank you for using our service!</p>
      <p>Best regards,<br />The Histori Team</p>
      <div class="footer">
        <p>&copy; {{year}} Histori. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
